<div class="wrapper">
    <div class="box location">
        <h3>Visit Us</h3>
        <div class="content">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3882.38710482395!2d77.12736907226046!3d13.326179487022745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2f1f67bd60167d69%3A0x50d617767a87848!2sSCOSS%20SERVICES!5e0!3m2!1sen!2sin!4v1726842572816!5m2!1sen!2sin"
                style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="box contact">
        <h3>Call Us</h3>
        <div class="content">
            <a href="tel:+919113030506">
                <mat-icon fontIcon="call" />
                <span>+91-91130 30506</span>
            </a>
        </div>
    </div>
    <div class="box email">
        <h3>Email Us</h3>
        <div class="content">
            <a href="mailto:scossservices@gmail.com">
                <mat-icon fontIcon="mail" />
                <span>scossservices&#64;gmail.com</span>
            </a>
        </div>
    </div>
    <div class="box follow">
        <h3>Follow Us</h3>
        <div class="content"></div>
    </div>
</div>