<header>
    <section class="top">
        <div class="logo">
            <img src="/images/final-logo.png" alt="Logo">
        </div>
        <div class="company-name">
            <h1 class="normal-name">SMART CODE SOFTWARE SOLUTIONS and SERVICES</h1>
            <h1 class="mobile-name">SCOSS</h1>
            <p>Growing Together for Tomorrow!</p>
        </div>
    </section>
    <nav>
        <div class="mobile-menu">
            <mat-icon fontIcon="menu" [matMenuTriggerFor]="menu"/>
            <mat-menu #menu="matMenu">
                <a mat-menu-item routerLink="/">Home</a>
                <a mat-menu-item routerLink="service">Services</a>
                <a mat-menu-item routerLink="event">Events</a>
                <a mat-menu-item routerLink="gallery">Gallery</a>
                <a mat-menu-item routerLink="contact">Contact</a>
                <a mat-menu-item routerLink="about">About us</a>
            </mat-menu>
        </div>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="service">Services</a></li>
            <li><a routerLink="event">Events</a></li>
            <li><a routerLink="gallery">Gallery</a></li>
            <li><a routerLink="contact">Contact</a></li>
            <li><a routerLink="about">About us</a></li>
        </ul>
    </nav>
</header>