<header>
    <section class="top">
        <div class="logo">
            <img src="/images/final-logo.png" alt="Logo">
        </div>
        <div class="company-name">
            <h1 class="normal-name">SMART CODE SOFTWARE SOLUTIONS and SERVICES</h1>
            <h1 class="mobile-name">SCOSS</h1>
            <p>Growing Together for Tomorrow!</p>
        </div>
    </section>
    <nav>
        <div class="mobile-menu">
            <mat-icon fontIcon="menu" [matMenuTriggerFor]="menu"/>
            <mat-menu #menu="matMenu">
                <a mat-menu-item href="#">Home</a>
                <a mat-menu-item href="#">Services</a>
                <a mat-menu-item href="#">Events</a>
                <a mat-menu-item href="#">Gallery</a>
                <a mat-menu-item href="#">Contact</a>
                <a mat-menu-item href="#">About us</a>
            </mat-menu>
        </div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About us</a></li>
        </ul>
    </nav>
</header>