<section class="Value-Proposition-Section">
    <h2>Why Choose Us?</h2>
    <ul>
        <li><img src="images/value proposition section/it solutions.webp"><span>Comprehensive IT Solutions Tailored to Your Needs</span></li>
        <li><img src="images/value proposition section/expertise.png"><span>Expertise in IT Infrastructure, Cloud Solutions and Cybersecurity</span></li>
        <li><img src="images/value proposition section/digital marketing.webp"><span>Affordable and Scalable Digital Marketing Services</span></li>
    </ul>
    <button class="btn">Schedule a Free IT Consultation →</button>

</section>










