.Value-Proposition-Section{
    padding: 25px;
    
    h2{
        color: red;

    }
    li{
        margin: 10px;
    }  
    $red: #ff0000;
    $yellow: #ffcc00;

    button {
            background: linear-gradient(to right, $red, $yellow);
            border: none;
            border-radius: 50px;
            color: white;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 50px;
            cursor: pointer;
            transition: 0.3s;

    &:hover {
                background: linear-gradient(to bottom left, darken($yellow, 2%), darken($red, 2%));
                transform: scale(1.05);
                box-shadow: 0 4px 10px rgba(255,255,255,0.3);

        }
    }

    
}
