<div class="wrapper">
    <div class="content">
        <p><strong class="highlight">(SMART CODE SOFTWARE SOLUTIONS AND SERVICES)</strong> is a comprehensive
            service-based company
            offering a diverse range of solutions, including:</p>
        <div class="bullet">
            <p><strong>Website & App Development</strong>Crafting customized websites and mobile applications to meet
                client needs.</p>
            <p><strong>Internship Programs</strong>Providing practical, hands-on experience for students or freshers
                looking to enhance their skills.</p>
            <p><strong>Freelance Services</strong>Offering project-based or contract-based services from professionals
                across various industries.</p>
            <p><strong>Consultancy</strong>Delivering expert advice and strategic solutions to help businesses grow and
                innovate.</p>
            <p><strong>Placement Training</strong>Preparing individuals for successful job placements through targeted
                training and skill development.</p>
            <p><strong>Recruitment Partnership</strong>Collaborating with companies to help them find the right talent
                through effective recruitment strategies and services.</p>
            <p><strong>Other Services</strong>Catering to a broad range of additional client needs with tailored
                solutions.</p>
        </div>
    </div>
    <div class="services">
        <mat-card appearance="raised" class="service-card">
            <mat-card-header>
                <mat-card-title>Internships</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/images/internship.webp" loading="lazy" alt="Internships">
            <mat-card-content>
                <p>
                    We provide Internships for students to give a glimpse of the Tech world.
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card appearance="raised" class="service-card">
            <mat-card-header>
                <mat-card-title>Projects</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/images/projects.webp" loading="lazy" alt="Projects">
            <mat-card-content>
                <p>
                    We provide Project Ideas, help with the implementation to students.
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card appearance="raised" class="service-card">
            <mat-card-header>
                <mat-card-title>Placements</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/images/hire.webp" loading="lazy" alt="Projects">
            <mat-card-content>
                <p>
                    We also provide placements.
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card appearance="raised" class="service-card">
            <mat-card-header>
                <mat-card-title>CSR Activities</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/images/csr.webp" loading="lazy" alt="Projects">
            <mat-card-content>
                <p>
                    Offering coding bootcamps, workshops, training programs, mentorship programs, and career counseling for students.
                </p>
            </mat-card-content>
        </mat-card>

    </div>
    <div class="client">
        <h4>Our clients</h4>
        <div class="client-logos">
            <img src="https://www.anonprofessional.com/app/api/info/anon-logo.png" alt="Anon Professional Cabs logo">
            <img src="/images/codeeasy.png" alt="Codeeasy Tumkur">
        </div>
    </div>
</div>