<div class="wrapper">
    <div class="indicator" [ngClass]="event.isCompleted ? 'completed':'up-coming'"></div>
    <div class="content">
        <h3 class="title">{{event.name}}</h3>
        <div class="event-details">
            <p class="event-time"><ng-content></ng-content></p>
            <button [ngClass]="event.isCompleted ? 'completed':'up-coming'" mat-raised-button>View Photos</button>
            <p class="event-status" [ngClass]="event.isCompleted ? 'completed':'up-coming'">{{Status}}</p>
        </div>
    </div>
    <div class="event-img">
        <img [src]="event.img" [alt]="event.alt">
    </div>
</div>