<div class="wrapper" style="display: flex;flex-direction: column;gap: 1em;">
    <scoss-event [event]="{name: 'Recuritment Drive for Grads',
        img: '/images/hire.webp',
        alt: 'Recuritment',
        isCompleted: false}">
        <span class="time">16<sup>th</sup> &amp; 17<sup>th</sup> Oct 2024</span>
    </scoss-event>
    <scoss-event [event]="{name: 'Recuritment Drive for Grads',
        img: '/images/hire.webp',
        alt: 'Recuritment',
        isCompleted: true}">
        <span class="time">16<sup>th</sup> &amp; 17<sup>th</sup> Sep 2024</span>
    </scoss-event>
</div>